*{
    margin: 0;
    padding: 0;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

    
form {
    position: relative;
    top: -40px;
    
}
form input{
    background-color: transparent;
    font-size: 1em;
    background: linear-gradient(rgba(38, 36, 36, 0.7),rgba(38, 36, 36, 0.7),rgba(38, 36, 36, 0.7));
    padding: 16px 15px ;
    border: 1px solid grey;
    color: azure;
    border-radius: 2px;
    width: 330px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}


button{
    color: aliceblue;
    background-color: red;
    font-weight: 400;
    border:  none;
    border-radius: 5px;
    padding: 12px 15px;
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    top: 2px;
    width: 200px;

}
h1{
    color: white;
    position: relative;
    
    font-size: 3em;
    font-weight: 800;
    top: -100px;
}
h2{
    position: relative;
    color: white;
    font-weight: 430;
    font-size: 1.5em;
     top: -80px;
}
h3{
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 1.25em;
    top: -50px;
}
.background{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(netflix.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.container{
    position: relative;
   text-align: center;
   top: 50%;
}
a{
    position: absolute;
    top: 30px;
    right: 200px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: red;
    color: aliceblue;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
    
}
.background img{
    position: absolute;
    height: 175px;
    width: 280px;
    left: 118px;
    top: -40px;

}